#asfalto {
  position: relative;
  margin: 80px 0;
  z-index: 1;
  .title {
    h1 {
      color: #31353d;
      font-size: 5rem;
      z-index: 2;
      position: relative;
      &:before {
        content: "";
        width: 280px;
        height: 140px;
        border: 6px solid #ebebeb;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 12px;
        z-index: -1;
      }
    }
  }

  .yellowTxt {
    text-align: center;
    margin-top: 0px;
    color: #ffcd00;
  }
  @include mq("tablet") {
    margin: 16rem 0;
  }
  article,
  .icons {
    margin-top: 4rem;
  }
  article {
    text-align: justify;
    .icons {
      div {
        border: 1px solid #333;
        width: 100%;
        height: 222px;
        text-align: center;
        i {
          color: #ffcd00;
          font-size: 4rem;
        }
      }
    }
    p {
      margin-top: 0px;
    }
  }

  .content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 40px 0px 0 0;
    overflow: hidden;
    @include mq("tablet") {
      margin: 30px 20px 0 0;
    }
  }

  .content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay {
    opacity: 1;
  }

  .content-image {
    width: 100%;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
    .content-title {
      p {
        color: #ffffff !important;
        font-size: 1.6rem !important;
        font-family: "Roboto", sans-serif !important;
        margin: 0 !important;
        line-height: 2rem !important;
      }
    }
  }

  .fadeIn-bottom {
    top: 80%;
  }
  button {
    margin: 30px auto;
    width: 120px;
    height: 40px;
    font-family: "Roboto", sans-serif !important;
    font-size: 1.6rem;
    outline: 0 none;

    &:hover {
      background-color: #0055a5;
      outline: 0 none;
    }
  }
  #products {
    background: #1e2126;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    li {
      font-size: 2rem;
      color: #ffffff;
      list-style: none;
      padding: 0px;
      margin: 0px;
      height: 40px;

      &:before {
        content: "\2022";
        font-size: 40px;
        position: relative;
        top: 5px;
        right: 5px;
      }
    }
  }
}
