#main {
  margin-bottom: 4.5rem;
  display: none;
  opacity: 0;
  visibility: hidden;
  h1,
  h2 {
    color: #ffcd00;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  @include mq("tablet") {
    h1 {
      font-size: 8rem;
    }
    h2 {
      font-size: 2.8rem;
    }
  }
  p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 20px;
  }
}
