#quoteBlock {
  background: #000000;
  // position: relative;
  .blockquote {
    padding: 15px 0px;
    @include mq("tablet-small") {
      padding: 55px 0px;
      margin-bottom: 0 !important;
      width: 60%;
      margin: 0 auto;
    }
    span,
    p {
      color: #ffffff;
    }
    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 0.2rem;
      @include mq("tablet-small") {
        font-size: 3rem;
        line-height: 3.4rem;
        margin-top: 2rem;
        font-style: italic;
      }
    }
    span {
      font-size: 2rem;
      color: #ffcd00;
      padding: 0px 5px 0 5px;
      @include mq("tablet-small") {
        font-size: 6rem;
        padding: 0px 10px 0 20px;
      }
    }
  }
}
