#whoWeAre {
  padding: 80px 0;
  @include mq("tablet") {
    padding: 160px 0;
    text-align: left;
    // position: relative;
  }

  article {
    padding-right: 0rem;
    @include mq("tablet") {
      padding-right: 8rem;
    }
    h1 {
      // font-size: 4rem;
      color: #ffcd00;
      text-align: center;
      @include mq("phone") {
        font-size: 4.5rem;
        font-weight: 700;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
      }
      &::before {
        content: "";
        width: 200px;
        height: 100px;
        border: 6px solid #f2f2f2;
        position: absolute;
        left: 160px;
        bottom: -10px;
        z-index: -1;
      }
    }
    p {
      @include mq("phone") {
        // margin-top: 2rem;
        position: relative;
        z-index: 10;
        color: #444444;
        font-size: 1.6rem;
        line-height: 2.6rem;
        text-align: justify;
      }
    }
  }
  .bg {
    margin-top: 4rem;
    background-image: url("../files/img/who1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100px;
    min-height: 50vh;
    border-radius: 2px;
    @include mq("custom") {
      margin-top: 0rem;
    }
  }
}
