#asfalto
    .title
        h1 MEZCLA<br>ASFÁLTICA
        p.yellowTxt Orosi, Costa Rica
    article
        .container
            p Desde Curridabat, San José, a partir del año 2003, iniciamos la producción de mezcla asfáltica en caliente, con la mejor tecnología, un servicio ágil y rápido en la producción, despacho y, por supuesto, con la Calidad OROSI, para garantizar un producto acorde con todas las especificaciones de calidad y consistencia.
            p Contamos con 4 plantas de producción de asfalto, totalmente computarizadas, con sistemas de pesajes ubicadas en:


            .container.d-flex.flex-column.d-sm-flex.flex-md-row.justify-content-around.align-items-center
                .content
                    .content-overlay
                    img.content-image(src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362")
                    .content-details.fadeIn-bottom
                        .content-title 
                            p 
                                i.fa.fa-building 
                                |&nbsp;&nbsp;Curridabat
                        .content-text 
                .content
                    .content-overlay
                    img.content-image(src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362")
                    .content-details.fadeIn-bottom
                        .content-title 
                            p 
                                i.fa.fa-building 
                                |&nbsp;&nbsp;Cartago
                .content
                    .content-overlay
                    img.content-image(src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362")
                    .content-details.fadeIn-bottom
                        .content-title 
                            p 
                                i.fa.fa-building 
                                |&nbsp;&nbsp;Guanacaste
                .content
                    .content-overlay
                    img.content-image(src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362")
                    .content-details.fadeIn-bottom
                        .content-title 
                            p 
                                i.fa.fa-building 
                                |&nbsp;&nbsp;Limón
            p.mt-5 A cualquier parte del país, a cualquier hora del día, todos los días de la semana.
            p Entregada en nuestra planta, transportada al proyecto o colocada con equipo especializado en cualquier obra.
            button.btn.btn-primary.btn-lg Productos
    #products
        h2 Productos
        ul.text-center
            li Mezcla Asfáltica en Caliente en boca de planta
            li Transporte de mezcla asfáltica a cualquier lugar

