header#header
    section.hero
        .container-fluid
            .texture.d-flex.justify-content-center.align-items-center
                .caption.text-center
                    h1#heroH1 GRUPO OROSI
                    h2#heroH2 Somos un equipo de trabajo enfocado al cliente y comprometido con la mejora continua en la gestión y productividad del Grupo. Trabajamos en un ambiente de calidad, honestidad, confianza y responsabilidad ambiental.
