nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
    .container-fluid
        a.navbar-brand.ml-5(href="#", target="_blank", title="Logo Orosi")
            img#logo(src="files/img/logo/logo.svg", alt="Grupo Orosi | ISO 9001", width="180", height="auto")
        button.navbar-toggler.mr-5(data-toggle="collapse", data-target="#navbarNav")
            span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse      
            ul.navbar-nav.ml-md-auto.align-items-center.mr-5
                li.nav-item.ml-4.mr-4
                    a.nav-link.nav-link-opt(href="#") Quienes somos?
                li.nav-item.ml-4.mr-4
                    a.nav-link.nav-link-opt(href="#") Concreto
                li.nav-item.ml-4.mr-4
                    a.nav-link.nav-link-opt(href="#") Asfalto
                li.nav-item.ml-4.mr-4
                    a.nav-link.nav-link-opt(href="#") Agregados
                li.nav-item.ml-4.mr-4
                    a.nav-link.nav-link-opt(href="#") Proyectos
                li.nav-item.ml-4.mr-4
                    a.nav-link.lang(href="#", data-language="esp")
                        img(src="files/img/flags/cr.svg", width="30")
                li.nav-item.ml-4.mr-4
                    a.nav-link.lang(href="#", data-language="eng")
                        img(src="files/img/flags/us.svg", width="30")               
                              
           
