#quoteBlock
    .container-fluid
        .blockquote.text-center.d-flex.justify-content-center
            span 
                i.fa.fa-quote-left
            #quote
                p.pt-1 
                    em La calidad nunca es una casualidad; es el resultado del esfuerzo inteligente del equipo humano Orosi
                    br
                    br
                    b &mdash; Eladio Araya
            span 
                i.fa.fa-quote-right  