.container-fluid
    .row
        section.social-container
            .container
                .container-flex.d-sm-flex.justify-content-sm-center.justify-content-md-around
                    .container-right
                        a.ph(href="#", target="_blank")
                            i.fas.fa-phone
                            | (506) 6666-6666
                        a.loc
                            i.fa.fa-map-marker
                            | Costa Rica
                        //- a.time(href="#", target="_blank")
                        //-     i.far.fa-clock
                        //-     | Time
                    .container-left
                        a.fb(href="#", target="_blank")
                            i.fa.fa-facebook
                            | Facebook
                        a.ins(href="#", target="_blank")
                            i.fab.fa-instagram
                            | Instagram
                        
                    
