#whoWeAre
    .container
        .row.d-flex
            .col-12.col-lg-6.animateBox
                article#whoWeAreArticle
                    h1 Quienes somos?
                    p Nuestra Organización se dedica a la construcción de obras de infraestructura y de ingeniería civil. Nos especializamos en ofrecer a nuestros clientes soluciones integrales, desde movimientos de tierra y “agregados de calidad Orosi”, hasta la gestión de proyectos exitosos.
                    p Administramos con excelencia obras y proyectos sin distinción de tamaño; nuestro trabajo es preciso y el servicio nuestra vocación. Planificamos nuestras operaciones para garantizar a los Clientes oportunidad en las entregas y en el desarrollo puntual de las obras y proyectos.
                    p Nos distinguimos como equipo humano profesional que enfoca sus competencias a servir a nuestros Clientes.
                    p Hoy somos el resultado de una trayectoria forjada en el trabajo inteligente y la dedicación plena en beneficio de Nuestros Clientes. 
            .col-12.col-lg-6.bg.animateBox